<div id="public-index" class="container">

  <div class="row">

    <div class="col-xs-12">
      <h4>Where you at?</h4>
      <hr>
      <form action="/search" method="post" id="search-form">
        <div class="input-group">
          <input type="text" class="form-control" name="text" placeholder="Search bars by your location ...">
          <span class="input-group-addon" type="submit" name="button" onclick="document.getElementById('search-form').submit();">Search</span>
        </div>
      </form>
    </div>

  </div>

</div>
